<%- include("./layout/header")%>
    <h1>Hello <%=userData.name %>  welcome to home page </h1>
    <img src="uploads/<%=userData.image %>" height="100" width="100" alt="<%=userData.image %>">
    <br>
    <br>
    <a href="/edit?id=<%=userData._id %>">Edit Profile</a>
    <br>
    <br>
    <!-- <a href="/delete?id=<%=userData._id %>">Delete Profile</a> -->
<br>
<br>
    <a href="/logout">Logout</a>



    <%- include("./layout/footer")%>


    